name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Build $mol app
        uses: hyoo-ru/mam_build@master2
        with:
          token: ${{ secrets.GH_PAT }}
          package: 'ftracker'
          modules: 'my/ftracker'
          meta: |
            my https://github.com/19begemot98/ftracker

      - name: Deploy to GitHub Pages (MOL)
        if: github.ref == 'refs/heads/main'
        uses: hyoo-ru/mol_github_pages@master
        with:
          root: my/ftracker
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ftracker 
